@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  background-color: #fff;
  line-height: 1;
  color: #000;
  font-size: 12px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  border: none; }

form {
  margin: 0; }

input[type="submit"] {
  cursor: pointer;
  border: none; }

input {
  border: none; }

textarea {
  resize: none;
  border: none;
  -webkit-appearance: none;
  overflow: auto; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1; }

::-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 1; }

*, *:focus {
  outline: none !important; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input, textarea, input:before, textarea:before, input:after, textarea:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial; }

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

button {
  border: none;
  cursor: pointer; }

.inner::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -5px; }

.inner > * {
  display: inline-block;
  vertical-align: middle; }

.grey-bg {
  background: #f6f8f8; }

.orange-text {
  color: #f26523; }

.sub {
  font-size: 12px;
  color: inherit; }

.blue-bg {
  background: #30436b; }

.blue-text {
  color: #30436b;
  font-weight: 700; }

.advocacy-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px 0px;
  width: 35px;
  height: 34px; }

.banking-ic {
  background-image: url(../img/sprite.png);
  background-position: -35px -62px;
  width: 35px;
  height: 35px; }

.building-ic {
  background-image: url(../img/sprite.png);
  background-position: -70px -62px;
  width: 27px;
  height: 35px; }

.case-ic {
  background-image: url(../img/sprite.png);
  background-position: -35px -97px;
  width: 35px;
  height: 33px; }

.children-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -62px;
  width: 35px;
  height: 35px; }

.crime-ic {
  background-image: url(../img/sprite.png);
  background-position: -62px 0px;
  width: 35px;
  height: 35px; }

.employee-ic {
  background-image: url(../img/sprite.png);
  background-position: -70px -97px;
  width: 29px;
  height: 30px; }

.global-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 62px;
  height: 62px; }

.litigation-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -97px;
  width: 35px;
  height: 34px; }

.residence-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px -34px;
  width: 35px;
  height: 34px; }

.search-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px -68px;
  width: 19px;
  height: 19px; }

.container {
  width: 1060px;
  margin: 0 auto;
  padding: 0 10px; }

.row {
  margin: 0 -10px; }

.icon {
  display: inline-block; }

.simple-text-block {
  padding: 27px 0;
  font-size: 18px;
  color: #5a6464;
  border-bottom: 1px solid #e4ebec; }

.form-control {
  display: inline-block;
  height: 57px;
  padding: 0 15px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #7e878d;
  font-size: 16px; }

.form-btn {
  display: inline-block;
  height: 57px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background: #f26523;
  padding: 0 27px;
  text-transform: uppercase; }
  .form-btn:hover {
    background: #b35427; }

.header {
  height: 80px;
  width: 100%;
  background: #fff; }
  .header .logo {
    float: left;
    margin-top: 15px; }
  .header .header-nav {
    float: right;
    margin-right: 20px;
    margin-top: 28px; }
    .header .header-nav li {
      display: inline-block;
      margin-right: 30px; }
      .header .header-nav li:last-child {
        margin-right: 20px;
        margin-left: 10px; }
      .header .header-nav li a {
        font-size: 16px; }
        .header .header-nav li a:hover {
          color: #f26523; }

.carousel-inner span {
  display: block;
  font-size: 24px;
  font-weight: 600;
  color: #515a60;
  margin-bottom: 16px; }

.btn {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 0 25px;
  text-align: center;
  font-size: 16px; }
  .btn.white-btn {
    border-color: white;
    color: white; }
    .btn.white-btn:hover {
      background: white;
      color: #30436b; }
  .btn.orange-btn {
    border-color: #f26523;
    color: #f26523; }
    .btn.orange-btn:hover {
      background: #f26523;
      color: white; }

.category-btn {
  text-align: center; }
  .category-btn .btn {
    margin: 0 12px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.inner {
  height: -webkit-calc(100vh - 80px);
  height: calc(100vh - 80px);
  background: url("../img/inner-bg.jpg") no-repeat top center;
  background-size: cover;
  text-align: center; }
  .inner .inner-block {
    color: #fff; }
    .inner .inner-block h1 {
      font-size: 72px;
      font-weight: 700;
      margin-bottom: 30px; }
    .inner .inner-block > span {
      font-size: 28px;
      font-weight: 300; }
    .inner .inner-block .inner-form {
      padding: 25px 37px;
      background: rgba(0, 0, 0, 0.45);
      margin-top: 43px; }
      .inner .inner-block .inner-form .first-form .form-control {
        width: 325px; }
      .inner .inner-block .inner-form input + input, .inner .inner-block .inner-form select + input {
        margin-left: 4px; }

.service-wrap {
  padding: 60px 0 40px 0;
  overflow: hidden; }
  .service-wrap .service-item {
    float: left;
    padding: 0 10px;
    width: 33.3%;
    height: 141px;
    margin-bottom: 35px; }
    .service-wrap .service-item .title {
      color: #f26523;
      font-size: 20px;
      margin-top: 10px; }
    .service-wrap .service-item p {
      width: 70%;
      font-size: 16px;
      color: #6c767e;
      padding-top: 10px; }

.category-wrap {
  overflow: hidden;
  padding: 63px 0 78px 0; }
  .category-wrap > .container > .title {
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: 600; }
  .category-wrap .news-row {
    margin: 50px 0 61px 0;
    overflow: hidden; }
  .category-wrap .news-post {
    float: left;
    width: 33.333%; }
    .category-wrap .news-post + .news-post {
      padding-left: 25px; }
    .category-wrap .news-post .news-content {
      min-height: 221px;
      background: white;
      border-top: 6px solid #90bed5;
      -webkit-border-radius: 1px;
              border-radius: 1px;
      padding: 20px; }
      .category-wrap .news-post .news-content .title {
        color: #515a60;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 17px; }
      .category-wrap .news-post .news-content p {
        color: #6c767e;
        font-size: 16px;
        line-height: 1.25em; }

.counties-wrap {
  overflow: hidden;
  padding: 56px 0 80px 0;
  background: white; }
  .counties-wrap > .container > .title {
    color: #515a60;
    font-size: 38px;
    text-align: center;
    font-weight: 400; }
  .counties-wrap .btn-row {
    margin: 57px 0 80px 0;
    overflow: hidden; }
  .counties-wrap .find-solicitor-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: 100px;
    background: #f26523; }
    .counties-wrap .find-solicitor-row .icon {
      margin: 20px; }
    .counties-wrap .find-solicitor-row .solicitor-item {
      margin: auto 0;
      overflow: hidden;
      text-align: center;
      position: relative; }
      .counties-wrap .find-solicitor-row .solicitor-item .find-solicitor-title {
        color: white;
        font-size: 30px;
        margin-right: 147px; }
      .counties-wrap .find-solicitor-row .solicitor-item a {
        color: white;
        font-size: 24px;
        display: block;
        margin: 0 44px 7px 44px; }
      .counties-wrap .find-solicitor-row .solicitor-item span {
        font-size: 14px;
        color: #ab481a; }
    .counties-wrap .find-solicitor-row .solicitor-region {
      height: 100px;
      overflow: hidden;
      width: 1px;
      border: 1px solid #da5a1f; }

.counties-btn {
  text-align: center; }
  .counties-btn > a {
    margin: 28px 9px 0 9px; }

.carousel-wrap {
  width: 100%;
  min-height: 45px;
  border: 1px solid #e2e6e7;
  padding: 12px 0;
  margin-bottom: 73px; }
  .carousel-wrap .carousel a {
    color: #f26523;
    font-size: 14px; }

.slick-list {
  position: relative; }

.slick-arrow {
  background: transparent; }

.slick-prev-arrow {
  position: absolute;
  top: -3px;
  left: -128px; }

.slick-next-arrow {
  position: absolute;
  top: -3px;
  right: -62px; }

.category-btn {
  margin-top: 45px; }
